article .title {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.5em;
    word-break: break-word;
}

article .information {
    color: grey;
    font-size: 0.8rem;
}

article .body {
    border-left: 5px solid lightgrey;
    padding-left: 10px;
    word-break: break-all;
    white-space: pre-wrap;
}

article .attachment {
    list-style-image: url(../img/paperclip-16x16.png);
    font-size: 0.8rem;
    padding-left: 0;
    list-style-position: inside;
}

article .attachment li {
    color: grey;
    padding-bottom: 5px;
}

article .footer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    height: 2em;
    position: relative;
}

article .footer .left {
    position: absolute;
    left: 0.5em;
    line-height: 1.9em;
}

article .footer .left > img {
    height: 1.2rem;
    vertical-align: middle;
    margin: 0px 1px 3px 2px;
}

article .footer .left .positive-score {
    color: green;
    font-weight: bold;
}

article .footer .right {
    position: absolute;
    right: 1.1em;
    line-height: 1.9em;
}

article .footer .right img {
    height: 1rem;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    top: -1px;
}